.chat {
  &-section {
    padding: 22px 10px 60px;
    height: calc(100% + 20px);
    @include clearfix;
    @media all and (max-width: 330px) {
      padding: 22px 10px 60px;
    }
  }
  &-profile-bubble {
  }
  &__text {
    line-height: 1.5;
    letter-spacing: -0.1px;
  }
  &__item {
    width: 100%;
    margin-top: 6px;
    position: relative;
    @include clearfix;
    &:first-child {
      margin-top: 0;
    }
    .chat__time {
      font-size: 10px;
      color: $light-peach;
    }
    &-question {
      float: left;
      margin-left: 10px;
      .chat__time {
        float: left;
        position: absolute;
        bottom: 0;
      }
    }
    &-answer {
      float: right;
      margin-right: 10px;
      display: flex;
      flex-direction: row-reverse;
      align-items: flex-end;
      .chat {
        &__profile {
          float: right;
        }
        &__time {
          float: right;
          line-height: 2.2;
        }
        &__text--answer {
          color: $bright-orange;
        }
      }
    }
    &--with-dropdown {
      .chat__bubble {

      }

    }
  }
  &__profile {
    float: left;
  }
  &__bubble {
    width: 232px;
    background-color: $very-light-pink-two;
    border-radius: 10px;
    position: relative;
    padding: 10px 16px 13px;
    &-form {
      position: relative;
      z-index: 2;
    }
    &:after {
      content: '';
      position: absolute;
      top: 0px;
      display: block;
      width: 10px;
      height: 10px;
      z-index: 1;
    }
    &--question {
      float: left;
      margin-left: 7px;
      margin-right: 5px;
      margin-top: 14px;
      &:after {
        left: -4px;
        background-image: url('../images/img-comev-talk-c.png');
        background-repeat: no-repeat;
        background-size: 23px;
        background-position: 0 0;
      }
    }
    &--answer {
      float: right;
      width: auto;
      min-height: 35px;
      max-width: 232px;
      padding: 9px 15px;
      margin-top: 10px;
      margin-right: 7px;
      margin-left: 5px;
      background-color: $sunflower-yellow;
      &:after {
        right: -4px;
        background-image: url('../images/img-comev-answer-c.png');
        background-repeat: no-repeat;
        background-size: 30px;
        background-position: 100% 0;
      }
    }
    //이미지의경우
    &--with-img {
      width: auto;
      padding: 0;
      &--correct,
      &--type2 {
        &:after {
          background-image: url('../images/img-comev-talk-r.png');
        }
      }
    }
    &--with-dropdown {
      width: 230px;
      padding: 10px;
    }
  }
}
.complete-button {
  display: block;
  font-size: 14px;
  color: $white;
  width: 100%;
  height: 35px;
  border-radius: 4px;
  background-color: $bright-orange;
  max-width: 200px;
  margin: 20px auto 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.8;
  text-align: center;
}
