.label {
  min-width: 50px;
}

.radio {
  &--button {
    display: none;
    -webkit-appearance: none;
    &:checked {
      & + .label--with-radio {
        background-color: $bright-orange;
        .radio__text {
          color: $white;
        }
      }
    }
  }

  &__text {
    color: $bright-orange;
    text-align: center;
    font-weight: 500;
  }
  &.radio--small {
    width: 1rem;
    height: 1rem;
    min-width: auto;
    min-height: auto;
    &:checked {
      &:after {
        width: .5rem;
        height: .5rem;
        top: 3px;
        left: 3px;
      }
    }
  }
}

.label--with-radio {
  text-align: center;
  padding: 7px 4px;
  margin-top: 4px;
  width: 100%;
  border: solid 1px $bright-orange;
  background-color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  &:first-child {
    margin-top: 0;
  }
}

.dropdown {
  .dropdown {
    &__item {
      width: 100%;
      margin-top: 7px;
      height: 35px;
      overflow: hidden;
      &-content {
        padding: 9px 14px 14px;
        background: $white;
        &-text {
          line-height: 1.29;
          color: $greyish-brown-three;
        }
      }
      &-header {
        border: solid 1px $bright-orange;
        background-color: $white;
      }
      &.is--active {
        height: auto;
        .dropdown__item {
          &-header {
            border-bottom: 0;
            background-color: $bright-orange;
            * {
              color: $white;
            }
            .dropdown__title {
              background-image: url("../images/btn-comev-unfold.svg");
            }
          }
        }
      }
    }
    &__title {
      font-size: 14px;
      height: 33px;
      color: $bright-orange;
      text-align: center;
      background-repeat: no-repeat;
      background-position: 95% 15px;
      background-image: url("../images/btn-comev-fold.svg");
      font-weight: 500;
      display: flex;
      justify-content: center;
      align-items: center;
      line-height: 2.2;
    }
    &__sub-title {
      font-size: 18px;
      font-weight: 500;
      line-height: 1.28;
      color: $white;
      padding: 15px 0 0 16px;
      height: 87px;
      background-repeat: no-repeat;
      background-position: 0 0;
      background-image: url("../images/img-comev-bloodtype.png");
      background-size: auto 88px;
    }
    &__more-link {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 34px;
      margin-top: 10px;
      line-height: 2.2;
      color: $bright-orange;
      font-weight: 500;
      background-color: $sunflower-yellow;
    }
  }
}


