/**
 * Created by Eunjin Yang on 2019. 9. 17.
 */
$very-light-pink: #ffefe4;
$brown-grey: #82786f;
$pale: #fae6d8;
$bright-orange: #ff6600;
$white: #ffffff;
$brown-grey-two: #9b9b9b;
$very-light-pink-two: #fff0e6;
$black: #000000;
$light-peach: #ffd3b6;
$sunflower-yellow: #ffdb00;
$greyish: #a39b96;
$light-peach-two: #fcdbc5;
$greyish-brown: #655a51;
$very-light-pink-three: #ffe4dc;
$light-salmon: #ffb390;
$greyish-brown-two: #51463d;
$brown-grey-three: #8e8e8e;
$very-light-pink-four: #d8d8d8;
$marigold: #ffc200;
$greyish-brown-three: #464646;
//font
$default-font: 'NotoSansKR', AppleSDGothicNeo, -apple-system, BlinkMacSystemFont, 'Malgun Gothic', '맑은 고딕', "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;


